body {
  margin: 0;
  padding: 0;
}

/* NAVBAR CSS */
.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar img {
  height: 40px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .navbar img {
    margin-bottom: 10px;
  }
  .navbar a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* CONTACT FORM */
form {
  max-width: 400px;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  height: 150px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

/* CANVAS */

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}
