body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR CSS */
.navbar {
  font-size: 1.3rem;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar img {
  height: 40px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}
.navbar a:hover {
  color: black;
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .navbar img {
    margin-bottom: 10px;
  }
  .navbar a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* ABOUT */
#about {
  padding: 50px 0;
  text-align: center;
  background-image: url("6969721_3452445.jpg");
  background-size: cover;
  height: 80vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h1 {
  font-size: 2.75rem;
  margin-bottom: 50px;
}

.container p {
  font-size: 1.3rem;
  line-height: 1.6;
}
#btn{
  background-color: #333;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
 
}
#btn:hover{
  background-color: #555;
  color: white;
}
#btn a{
  color: white;
  text-decoration: none;
}
/* Media Query for Small Devices */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .container h1 {
    font-size: 2rem;
  }

  .container p {
    font-size: 1rem;
  }
}

/* CONTACT FORM */
#contact {

  /* background-color: #333; */
}
form {
  max-width: 400px;
  margin: 3rem auto;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  height: 150px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

/* CANVAS */

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}

/* FOOTER */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column h3 {
  color: #fff;
}

.footer-column p {
  margin-bottom: 5px;
}

.copyright {
  margin-top: 20px;
}

/* Media Query for Small Devices */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
